version: '3.8'

services:
  db:
    image: postgres:15
    container_name: todo_db
    restart: always
    environment:
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: todo_redis
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: todo_app
    restart: always
    command: sh -c "sleep 5 && uvicorn main:app --host 0.0.0.0 --port 8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      - DATABASE_URL=postgresql://todo_user:todo@db:5432/todo_db
      - REDIS_HOST=redis

volumes:
  postgres_data: